doctype html
html
  head
    title Awesome todo-list
  body
    h1 Lets do some todo-ing!

    h2 Add a new one!
    div(id='add-container')

    h2 Or edit existing!
    div(id='todos-container')


script.
  let receivedTodos;
  fetch('/api/todos')
  .then(response => response.json())
  .then(resData => {
      receivedTodos =  resData;
      console.log(receivedTodos);
      buildView(receivedTodos);
    } 
  );

  function buildView(arr) {
    const addRoot = document.getElementById('add-container');
    const newRoot = document.getElementById('todos-container');

    const addForm = document.createElement('form');
    addForm.setAttribute('method', 'put');
    addForm.setAttribute('action', '/api/todos');
    
    const titleInput = document.createElement('input');
    titleInput.setAttribute('type', 'text');
    titleInput.setAttribute('name', 'title');
    titleInput.setAttribute('placeholder', 'enter title');
    addForm.appendChild(titleInput);
    
    const descInput = document.createElement('input');
    descInput.setAttribute('type', 'text');
    descInput.setAttribute('name', 'description');
    descInput.setAttribute('placeholder', 'enter description');
    addForm.appendChild(descInput);

    const addButton = document.createElement('button');
    addButton.innerText  = 'Add Todo';
    addForm.appendChild(addButton);

    addRoot.appendChild(addForm);

    arr.forEach((todo) => {
      const todoDiv = document.createElement('div');
      const space = document.createElement('br');
      space.style.fontSize = '40px'

      const editForm = document.createElement('form');
      editForm.setAttribute('method', 'post');
      editForm.setAttribute('action', '/edit-todo');

      const inpTitle = document.createElement('input');
      inpTitle.setAttribute('type', 'text');
      inpTitle.setAttribute('name', 'title');
      inpTitle.setAttribute('value', todo.title);
      editForm.appendChild(inpTitle);

      const inpDescription = document.createElement('input');
      inpDescription.setAttribute('type', 'text');
      inpDescription.setAttribute('name', 'description');
      inpDescription.setAttribute('value', todo.description);
      editForm.appendChild(inpDescription);

      const uuid = document.createElement('input');
      uuid.setAttribute('type', 'hidden');
      uuid.setAttribute('name', 'uuid');
      uuid.setAttribute('value', todo.uuid);
      editForm.appendChild(uuid);
      const editButton = document.createElement('button');
      editButton.innerText  = 'Edit';
      editForm.appendChild(editButton);

      const pDate = document.createElement('p');
      const date = new Date(todo.created * 1000);
      pDate.innerText = 'Created:: ' + date.toGMTString();

      const deleteForm = document.createElement('form');
      deleteForm.setAttribute('method', 'delete');
      deleteForm.setAttribute('action', '/api/todos?uuid=' + todo.uuid);
      const uuid2 = document.createElement('input');
      uuid2.setAttribute('type', 'hidden');
      uuid2.setAttribute('name', 'uuid');
      uuid2.setAttribute('value', todo.uuid);
      deleteForm.appendChild(uuid2);
      const deleteButton = document.createElement('button');
      deleteButton.innerText  = 'Delete';
      deleteForm.appendChild(deleteButton);
      todoDiv.appendChild(editForm);
      todoDiv.appendChild(pDate);
      todoDiv.appendChild(deleteForm);
      todoDiv.appendChild(space);
      document.body.insertBefore(todoDiv, newRoot);
    })
  }